body {
  font-family: Arial, sans-serif;
  background: url("images/background.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

#tierlist {
  max-width: 900px;
  margin: auto;
}

h1 {
  font-size: 36px;
  color: white;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;

  text-shadow:
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}

.tier {
  margin: 20px 0;
}

.tier h2 {
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;

  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}


.tier-row {
  display: flex;
  min-height: 90px;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
}

.icon {
  width: 100px;
  height: 80px;
  margin: 5px;
  cursor: grab;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: transform 0.1s, border 0.2s;
}

.icon:hover {
  transform: scale(1.08);
  border: 2px solid #00ff00; 
}

#infoPanel {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #222;
  padding: 15px;
  border-radius: 12px;
  width: 260px;
  text-align: left;
}

.hidden { display: none; }

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110px;
  flex: 0 0 auto;
}

.icon-label {
  margin-top: 4px;
  font-size: 12px;
  color: #ccc;
  text-align: center;
  word-wrap: break-word;
}

